* {
    margin: 0;
    padding: 0;
}

.my-content {
    position: absolute;
    left: 0;
    top: 44px;
    bottom: 50px;
    width: 100%;
    background-color: #f5f5f5;
}

.category-left,
.category-right {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.category-left {
    width: 80px;
    float: left;
}

.link {
    background-color: #fff;
}

.category-left .link a {
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.category-left .link .active {
    background-color: #f5f5f5;
    border-right: 1px solid transparent
}

.category-right {
    margin-left: 90px;
    /* background-color: aquamarine; */
    position: relative;
}

.category-right .category-ul {
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.category-right .category-ul li {
    width: 33.33%;
    float: left;
}

.category-right .category-ul li a {
    display: block;
}

.category-right .category-ul li img {
    width: 100%;
}

.category-right .category-ul li a p {
    text-align: center;
}

.null {
    padding: 10px;
    background-color: teal;
    font-size: 15px;
    font-weight: 500;
    color: #e0e0e0;
}