<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="asstes/mui/css/mui.min.css">
    <link rel="stylesheet" href="asstes/fontAwesome/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="asstes/fontawesome-free-5.9.0-web/css/fontawesome.min.css"> -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/search.css">
</head>

<body>
    <header class="mui-bar mui-bar-nav header">
        <h1 class="mui-title">搜索中心</h1>
        <a href="search.html" class="mui-icon"></a>
    </header>
    <nav class="mui-bar mui-bar-tab footer my-footer">
        <a class="mui-tab-item mui-active" href="index.html">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" href="category.html">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="cart.html">
            <span class="mui-icon fa fa-shopping-cart"></span>

            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" href="user.html">
            <span class="mui-icon mui-icon-person"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>
    <div class="mui-content">
        <div class="content">
            <!-- 搜索框 -->
            <div class="search">
                <input type="text" placeholder="搜索您喜欢的商品" value="">
                <input type="button" value="搜索" id="search-btn">
            </div>
            <!-- /搜索框 -->

            <!-- 历史纪录 -->
            <div class="history mui-clearfix">
                <span class="title mui-pull-left">搜索历史</span>
                <span class="clear mui-pull-right mui-icon mui-icon-trash" id="claerBtn">清空历史</span>
            </div>
            <!-- /历史纪录 -->
            <ul class="mui-table-view" id="mui-table-view">


            </ul>
        </div>
    </div>

    <script src="asstes/mui/js/mui.min.js"></script>
    <script src="asstes/zepto/zepto.min.js"></script>
    <script src="asstes/artTemplate/template-native.js"></script>
    <script src="js/search.js"></script>
    <script src="js/public.js"></script>
</body>
<script type="text/template" id="historyTpl">
    <% for(var i=0; i < result.length; i++){ %>
        <li class="mui-table-view-cell">
            <%=result[i] %>
        </li>
        <% } %> .
</script>

</html>